<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Phpansible</title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" class="ui" href="/assets/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/semantic.css">

    <script src="/assets/js/jquery-2.0.3.min.js"></script>

    <!-- <script src="http://semantic-ui.com/javascript/library/history.js"></script>
    <script src="http://semantic-ui.com/javascript/library/easing.js"></script>-->
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/waypoints-sticky.min.js"></script>
    <script src="/assets/js/semantic.min.js"></script>
    <script src="/assets/js/main.js"></script>
</head>
<body id="example" class="form">
    <div class="ui fixed transparent inverted main menu">
        <div class="container">
            <div class="title item">Phpansible</div>
            <div class="right menu">
                <a class="popup icon github item" data-content="View project on Github" href="https://github.com/Phpansible/Phpansible">
                    <i class="icon github"></i> Fork me
                </a>
            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="introduction">
                <h1>Phpansible</h1>
                <p>Phpansible provides an easy to use interface that helps you generate Ansible Playbooks for PHP based projects.</p>
            </div>
        </div>
    </header>

    <div class="main container">
        <aside class="peek">
            <div class="ui vertical pointing secondary menu">
                <a class="active item">VM Details</a>
                <a class="item">Server Details</a>
                <a class="item">Webserver</a>
                <a class="item">PHP</a>
                <a class="item">Database</a>
            </div>
        </aside>

        <h2 class="ui dividing header">VM Details</h2>
        <section>
            <h3 class="ui header">Vagrant file:</h3>
            <p>Pulvinar etiam eu platea ac vel! Integer et, dis phasellus, sed lectus adipiscing nascetur dolor augue diam ultrices! Nascetur elit! Adipiscing. Habitasse integer ac, ultrices magnis proin proin risus facilisis dis parturient! Aenean est, et ut, pulvinar quis aenean, dignissim.</p>
            <div class="ui form segment">
                <div class="field">
                    <label>VM Opeating System:</label>
                    <div class="grouped inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="fruit" checked />
                                <label>CentOS 6.4 x64</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="fruit" />
                                <label>Debian Wheezy 7.2 x64</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="fruit" />
                                <label>Ubuntu Precise 12.04 x64</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>VM Name:</label>
                    <div class="ui left labeled input">
                        <input type="text">
                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>VM IP Address:</label>
                        <div class="ui left labeled input">
                            <input type="text">
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>VM Memory</label>
                        <div class="ui left labeled input">
                            <input type="text">
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <h2 class="ui dividing header">Server Details</h2>
        <section>
            <h3 class="ui header">Server packages:</h3>
            <p>Pulvinar etiam eu platea ac vel! Integer et, dis phasellus, sed lectus adipiscing nascetur dolor augue diam ultrices! Nascetur elit! Adipiscing. Habitasse integer ac, ultrices magnis proin proin risus facilisis dis parturient! Aenean est, et ut, pulvinar quis aenean, dignissim.</p>
            <div class="ui form segment">
                <div class="field">
                    <label>Packages:</label>
                    <input type="text">
                </div>
            </div>
        </section>

        <h2 class="ui dividing header">Webserver</h2>
        <section>
            <h3 class="ui header">Webserver settings:</h3>
            <p>Pulvinar etiam eu platea ac vel! Integer et, dis phasellus, sed lectus adipiscing nascetur dolor augue diam ultrices! Nascetur elit! Adipiscing. Habitasse integer ac, ultrices magnis proin proin risus facilisis dis parturient! Aenean est, et ut, pulvinar quis aenean, dignissim.</p>
            <div class="ui pointing menu">
              <a class="active purple item">Apache</a>
            </div>
            <div class="ui form segment">
                <div class="two fields">
                    <div class="field">
                        <label>Server Name:</label>
                        <div class="ui left labeled input">
                            <input type="text">
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Document Root:</label>
                        <div class="ui left labeled input">
                            <input type="text">
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Server Aliases:</label>
                        <input type="text">
                    </div>
                    <div class="field">
                        <label>Server Port:</label>
                        <div class="ui left labeled input">
                            <input type="text">
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <h2 class="ui dividing header">PHP</h2>
        <section>
            <h3 class="ui header">Settings:</h3>
            <p>Pulvinar etiam eu platea ac vel! Integer et, dis phasellus, sed lectus adipiscing nascetur dolor augue diam ultrices! Nascetur elit! Adipiscing. Habitasse integer ac, ultrices magnis proin proin risus facilisis dis parturient! Aenean est, et ut, pulvinar quis aenean, dignissim.</p>
            <div class="ui form segment">
                <div class="three fields">
                    <div class="field">
                        <label>Version:</label>
                        <div class="ui buttons">
                            <div class="ui black button">5.5</div>
                            <div class="ui black button">5.4</div>
                            <div class="ui black button">5.3</div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Composer:</label>
                        <div class="ui toggle black button">Disabled</div>
                    </div>
                    <div class="field">
                        <label>Timezone:</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="gender">
                                <div class="default text">Timezone</div>
                                <i class="dropdown icon"></i>
                                <div class="menu ui transition hidden">
                                    <div class="item" data-value="male">America/Sao_Paulo</div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="field">
                    <label>PHP Modules:</label>
                    <input type="text">
                </div>
                <div class="field">
                    <label>PEAR Modules:</label>
                    <input type="text">
                </div>
                <div class="field">
                    <label>PECL Modules:</label>
                    <input type="text">
                </div>
            </div>
        </section>

        <h2 class="ui dividing header">Database</h2>
        <section>
            <h3 class="ui header">Database settings:</h3>
            <p>Pulvinar etiam eu platea ac vel! Integer et, dis phasellus, sed lectus adipiscing nascetur dolor augue diam ultrices! Nascetur elit! Adipiscing. Habitasse integer ac, ultrices magnis proin proin risus facilisis dis parturient! Aenean est, et ut, pulvinar quis aenean, dignissim.</p>
            <div class="ui pointing menu">
              <a class="active purple item">MySQL</a>
            </div>
            <div class="ui form segment">
                <div class="two fields">
                    <div class="field">
                        <label>Root Password:</label>
                        <div class="ui left labeled input">
                            <input type="text">
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>PHPMyAdmin:</label>
                            <div class="ui toggle black button">Disabled</div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="fluid ui purple button">Generate</div>
        </section>

    </div>
</body>
</html>